RewriteEngine On

# Redirect /index to home dashboard.php
RewriteRule ^index$ index.php [L]

# Redirect /patient/login.html to components/patient/login.html
RewriteRule ^patient/login\.html$ components/patient/login.html [L]
RewriteRule ^staff/login\.html$ components/staff/login.html [L]
RewriteRule ^admin/login\.html$ components/admin/login.html [L]
RewriteRule ^login\.html$ components/patient/login.html [L]

RewriteRule ^login$ components/login.php [L]
RewriteRule ^dashboard$ components/dashboard.php [L]

RewriteRule ^logout$ logout.php [L,PT]
